<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">レシピ編集</h2>
      <%= render partial: "form", locals: {recipe: @recipe} %>
    </div>
  </div>
</div>