<div class='title-contents'>
  <h1 class="service-title">
  本日の献立は？
  </h1>
</div>
<div class='recipe-content'>
  <h2 class="recipe-title">レシピ一覧</h2>
  <div class='item-img-content'>
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.image, class: "recipe-img" %>
        <%= recipe.cuisine %>
        <%= recipe.user.name %>
      <% end %>
    <% end %>
  </div>
</div>