<div class="main">
  <div class="inner">
    <div class="form_wrapper">
      <h2 class="page-heading">新規レシピ投稿</h2>
      <div class="form_wrap">
        <%= render partial: "form", locals: {recipe: @recipe} %>
      </div>
    </div>
  </div>
</div>