<div class="inner">
  <div class="user__wrapper">
    <h2 class="user-heading">
      <%= "#{@user.name}さんのレシピ"%>
    </h2>
    <div class='card-wrapper'>
      <% @recipes.each do |recipe| %>
        <%= render partial: "recipes/recipe", locals: {recipe: recipe} %>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? && current_user.id == @user.id %>
  <div class="withdrawal_manage">
    <%= link_to '退会', user_path, method: :delete, class: :form__btn %>
  </div>
<% end%>