.search-form {
  padding-top: 80px;
  text-align: center;
  padding-top: 32px;
}

.search-input {
  width: 30%;
  margin-right: 10px;
}

 .search-btn {
  width: 10%;
  background-color: rgb(120, 120, 252);
  color: #fff;
}

.title-contents {
  width: 1000px;
  height: 600px;
  background-image: image-url('kondate.jpeg');
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title {
  color: #fff;
  font-size: 50px;
}

.recipe-content {
  margin-top: 20px;
}

.recipe-title {
  color: rgb(9, 204, 201);
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.recipe-img-content {
  display: flex;
  justify-content: center;
}

.recipe-img {
  width: 33vh;
  height: 33vh;
}