.recipe-show {
  background-color: #ebebeb;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin-top: 80px;
}

.recipe-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.btn_arrow {
  font-size: 20px;
  color: black;
}

.btn_arrow {
  font-size: 20px;
  color: black;
}

.cuisine {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #2e2e2e;
  object-fit: contain;
}

.show_favorite {
  margin-top: 20px;
}

.btn_manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.edit-btn {
  display: block;
  background-color: green;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.edit-btn:hover {
  opacity: 0.8;
}

.recipe-destroy {
  display: block;
  background-color: red;
  font-size: 14px;
  color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
  margin: 0 0 20px 10px;
}

.recipe-destroy:hover {
  opacity: 0.8;
}

.detail-table {
  margin: 30px 0;
  width: 80vw;
}

.detail-recipe {
  width: 20%;
  color: #fff;
  background-color: #2e2e2e;
  border: 1px solid #fff;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #2e2e2e;
  font-size: 14px;
}

.recipe__user {
  color: black;
  text-decoration: underline;
}

.search__img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #2e2e2e;
  object-fit: contain;
}

.search__cuisine {
  color: black;
  font-size: 30px;
}

.container {
  padding: 5px 50px 15px; 
  background-color: #2e2e2e;
  width: 80vw;
}

.detail__title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.comment__btn {
  padding: 7px 15px;
  font-size: 0.8em;
  color: #fff;
  background: rgb(19, 187, 254);
  border-radius: 2px;
  cursor: pointer;
}

.comment__btn:hover {
  opacity: 0.8;
}

.comment__list {
  color: #fff;
}

.comment__option {
  display: flex;
  justify-content: flex-end;
}

.comment__user {
  font-size: 12px;
  color: #fff;
  margin-left: 15px;
}

.comment__destroy {
  font-size: 10px;
  color: #fff;
  margin-top: 3px;
}
