.recipe-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.recipe-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.btn_arrow {
  font-size: 20px;
  color: black;
}

.btn_arrow {
  font-size: 20px;
  color: black;
}

.cuisine {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #2e2e2e;
  object-fit: contain;
}

.favorite {
  margin-top: 20px;
}

.btn_manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.edit-btn {
  display: block;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #2e2e2e;
  padding: 6px 20px;
  border: 1px solid #2e2e2e;
  border-radius: 15px;
  margin-bottom: 20px;
}

.edit-btn:hover {
  color: #fff;
  background: rgb(199, 199, 199);
}

.recipe-destroy {
  display: block;
  background-color: #2e2e2e;
  font-size: 14px;
  color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
  margin: 0 0 20px 10px;
}

.recipe-destroy:hover {
  color: #fff;
  background-color: rgb(199, 199, 199);
  border: 1px solid #2e2e2e;
}

.detail-table {
  margin: 30px 0;
  width: 80vw;
}

.detail-recipe {
  width: 20%;
  color: #fff;
  background-color: #2e2e2e;
  border: 1px solid #fff;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #2e2e2e;
  font-size: 14px;
}

.recipe__user {
  color: black;
  text-decoration: underline;
}

.search__img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #2e2e2e;
  object-fit: contain;
}

.search__cuisine {
  color: black;
  font-size: 30px;
}

.container {
  padding: 20px 50px; 
  background-color: #2e2e2e;
  border-radius: 10px;
}

.detail__title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  color: #fff;
}

.comment__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #2e2e2e;
  text-decoration: none;
  user-select: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 #dedede, 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  cursor: pointer;
  
}

.comment__list {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.comment__user {
  font-size: 15px;
  color: #fff;
  margin-left: 10px;
}

.comment__destroy {
  font-size: 10px;
  color: #fff;
}
