.recipe-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin-top: 50px;
}

.recipe-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.btn_arrow {
  font-size: 20px;
  color: #000;
  padding: 4px 20px;
}

.btn_arrow:hover {
  color: #fff;
  background:  linear-gradient(120deg, skyblue 0 ,blue 100%);
  padding: 4px 20px;
  border-radius: 15px;
}

.cuisine {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background:  linear-gradient(120deg, skyblue 0 ,blue 100%);
  object-fit: contain;
}

.show_favorite {
  margin-top: 20px;
}

.btn_manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.edit-btn {
  display: block;
  background: linear-gradient(120deg, lime 0 ,green 100%);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.edit-btn:hover {
  opacity: 0.5;
}

.recipe-destroy {
  display: block;
  background:  linear-gradient(120deg, pink 0 ,red 100%);
  font-size: 14px;
  color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
  margin: 0 0 20px 10px;
}

.recipe-destroy:hover {
  opacity: 0.5;
}

.detail-table {
  margin: 30px 0;
  width: 80vw;
}

.detail-recipe {
  width: 20%;
  color: #fff;
  background:  linear-gradient(120deg, skyblue 0 ,blue 100%);
  border: 1px solid #fff;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid rgb(181, 181, 181);
  font-size: 14px;
}

.recipe__user {
  color: black;
  text-decoration: underline;
}

.search__img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background:  linear-gradient(120deg, skyblue 0 ,blue 100%);
  object-fit: contain;
}

.search__cuisine {
  color: black;
  font-size: 30px;
}

.container {
  padding: 0px 0 15px; 
  width: 80vw;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 3px #c9c9c9;
}

.detail_title {
  padding: 10px 50px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background:  linear-gradient(120deg, yellow 0 ,orange 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  text-shadow: 0 0 5px orange;

}

.comment__list {
  color: #000;
  padding: 10px 50px 10px;
  border-top: 1px solid rgb(181, 181, 181);
}

.comment__text {
  font-size: 18px;
}

.comment__option {
  display: flex;
  justify-content: flex-end;
}

.comment__user {
  font-size: 15px;
  color: #000;
  margin-left: 15px;
}

.comment__destroy {
  font-size: 13px;
  background:  linear-gradient(120deg, pink 0 ,red 100%);
  color: #fff;
  padding: 1px 7px;
  border-radius: 8px;
  margin-top: 1px;
}

.comment__destroy:hover {
  opacity: 0.5;
}

.comment_section {
  padding: 5px 5vw 0;
  border-top: 1px solid rgb(181, 181, 181);
}

.comment_input {
  width: 70vw;
  height: 100px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  text-align: center;
}

.comment_btn {
  padding: 7px 15px;
  font-size: 15px;
  color: #fff;
  background:  linear-gradient(120deg, skyblue 0 ,blue 100%);
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 #401cdd, 0 1px 2px 0 rgba(64, 0, 255, 0.12);
  transition: 0.2s ease;
}

.comment_btn:hover {
  box-shadow: 0 3px 6px 0 rgba(64, 0, 255, 0.12), 0 1px 8px 0 rgba(64, 0, 2555, 0.12);
  cursor: pointer;
}
