.recipe-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.recipe-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuisine{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.edit-btn {
  text-align: center;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #2e2e2e;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border: 1px solid #2e2e2e;
}

.or-text {
  font-size: 20px;
}

.recipe-destroy {
  background-color: #2e2e2e;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin: 20px 0px;
  padding: 2vh 10vw;
}


.recipe__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}