* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ヘッダー */
.header {
  background:  #2e2e2e;
  height: 80px;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: serif;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}

.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #fff solid;
  border-radius: 13px;
  transition: 0.4s ease;
}
.nav_btn:hover{
  color: #2e2e2e;
  background: #fff;
}

/* フッター */
.footer {
  background:  #2e2e2e;
  height: 80px;
  width: 100%;
  padding: 20px 0;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__logo {
  font-family: serif;
  font-size: 35px;
  text-decoration: none;
  color: #fff;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  padding-top: 80px;
}

/* エラー */
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  color: #2e2e2e;
}

.login-flash-message {
  font-size: 1.3vw;
  list-style: disc;
  color: #2e2e2e;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    font-size: 20px;
  }

  .card {
    width: 48%;
    margin-bottom: 40px;
  }
}

/* スマホ表示 */
@media (max-width: 599px) {
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
}