* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

/* ヘッダー */
.header {
  background:  #fbffda;
  height: 80px;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: serif;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #f1b307;
  text-decoration: none;
  user-select: none;
  border: 1px #f1b307 solid;
  border-radius: 13px;
  transition: 0.4s ease;
}
.nav_btn:hover{
  color: #fff;
  background: #f1b307;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    font-size: 20px;
  }
}

/* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    font-size: 15px;
  }
}